.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.output_heading {
  margin-bottom: 20px;
}

.textarea {
  width: 400px;
  height: 250px;
  padding: 10px;
}

#textarea {
  background-color: white;
}

.texts_container {
  position: relative;
  width: 500px;
  height: 250px;
}

.link {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-bottom: 15px;
}
