textarea {
  width: 350px;
  height: 250px;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.output_box {
  padding: 40px;
  background-color: #a4c3b2;
  border: 2px solid #333333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.output_heading {
  margin-bottom: 20px;
}

.texts p {
  color: black;
  text-align: left;
  width: 100%;
  background-color: #cce3de;
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 5px;
  margin-bottom: 10px;
}

.link {
  width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: green;
}
